-
  const isChecked = (category, post) => {
    if (post) {
      const result = post.categories.some((item) => {
        return item.id === category.id;
      })
      return result;
    }
  }

  const formatAnnounce = (text) => {
    if (text.length <= 100) {
      return text
    }
    return text.slice(0, 100) + `...`;
  }

  const formatPostDate = (dateString) => {
    const date = new Date(dateString).toLocaleDateString(`ru-RU`);
    const options = {
      day: `numeric`,
      month: `numeric`,
      year: `numeric`,
    };
    return date.toLocaleString(`ru-RU`, options);
  }

  const formatCommentDate = (dateString) => {
    const date = new Date(dateString);
    const options = {
      day: `numeric`,
      month: `numeric`,
      year: `numeric`,
      hour: `numeric`,
      minute: `numeric`,
    };
    return date.toLocaleString(`ru-RU`, options);
  }

mixin pagination(page, totalPages, width, prefix)
  -
    let start = page - width;
    let end = page + width;
    if(start < 1){
      end += 1 - start;
      start = 1;
    }
    if(end > totalPages){
      start -= end - totalPages;
      end = totalPages;
    }
    if(start < 1){
      start = 1;
    }
    let i = start - 1

  if totalPages > 1
    .preview__toggle-wrapper
      ul.preview__pagination.pagination
        li
          a.pagination__button.button.button--backwards(class={'button--disabled': page === start} href=`${prefix}page=${page - 1}`) Назад
        while i++ < end
          li.pagination__item(class={'pagination__item--active': i === page})
            a(href=`${prefix}page=${i}`)= i
        li
          a.pagination__button.button.button--forward(class={'button--disabled': page === end} href=`${prefix}page=${page + 1}`) Вперёд

mixin errorCommentMessage(message)
    if message
      p.comments__error= message

mixin errorMessage(message)
    if message
      p.form__error-message= message

mixin errorMessages(messages)
  each message in messages
    ul.form__errors
      li.form__error= message

mixin inputMessages(error, messages)
    if error
      each message in error
        - if (message.includes(messages))
          p.form__error-message= message
