extends layout.pug

block content
  include partials/header-post.pug
  main
    section.post
      h1.visually-hidden Пост
      section.post__content
        h2.visually-hidden Основное содержание
        .post__wrapper
          .post__head
            a.post__backwards.button.button--backwards(href='#') Назад
            time.post__date(datetime=`${post.createdDate}`) #{formatDate(post.createdDate)}
            h2.post__title.title.title--main #{post.title}
            ul.post__themes.themes
              each postCategory in post.categories
                li.themes__item
                  a.themes__item-link(href='#') #{postCategory.name} !{' '}
                    each category in categories
                      - if (category.name === postCategory.name)
                        sup #{category.count}
                  button.themes__remove-btn(type='button') Удалить категорию
          if (post.picture)
            include post/photo.pug
          .post__text
            h3 #{post.title}
            p #{post.fullText}
      .post__wrapper.post__wrapper--comments
        section.post__comments.comments
          include post/comments.pug
