extends layout.pug

block content
  main.main-page.main-page--padding
  section.main-page__publication.publication
    h1.publication__title Комментарии
    each post in posts
      each comment in post.comments
        ul.publication__list
          li.publication__list-item
            .publication__header
              img.publication__list-image(src=`/img/${comment.users.avatar}` width='20' height='20' alt='Аватар пользователя')
              b.publication__list-name #{comment.users.firstName} #{comment.users.lastName}
              time.publication__item-time(datetime=`${comment.createdAt}`) #{formatDate(comment.createdAt)}
            a.publication__item-text(href=`/articles/${post.id}`) #{comment.text}
            p.publication__text-strong #{post.title}
            button.publication__button.button.button--close-item(type='button')
              span.visually-hidden Закрыть строку списка
