doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width,initial-scale=1')
  meta(name='description' content='Личный блог Типотека')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Типотека
  link(rel='preload' href='./fonts/Inter-Regular.woff2' as='font' crossorigin='anonymous')
  link(rel='preload' href='./fonts/Inter-Medium.woff2' as='font' crossorigin='anonymous')
  link(rel='preload' href='./fonts/SFProDisplay-Regular.woff2' as='font' crossorigin='anonymous')
  link(rel='stylesheet' href='/css/style.min.css')
body
  mixin errorCommentMessage(message)
    if message
      p.comments__error= message

  mixin errorMessage(message)
    if message
      p.form__error-message= message

  mixin errorRegMessage(message)
    if message
      .form__validation-error
        p.form__error-message При регистрации произошли ошибки:
        ul.form__errors
          li.form__error= message

  mixin errorAddNewPostMessage(messages)
    if messages
      - let errorArr = messages.split(`\n`)
        .form__validation-error
          p.form__error-message При публикации произошли ошибки:
            each message in errorArr
              ul.form__errors
                li.form__error= message

  mixin inputMessages(messages)
    if (error)
      - let errorArr = error.split(`\n`)
        each message in errorArr
          - if (message.includes(messages))
            p.form__error-message= message
  .wrapper-color
    include ../partials/header-admin.pug
    block content
    include ../partials/footer.pug
    script(src="/js/vendor.js")
    script(src="/js/main.js")
