extends layout.pug

block content
  main.main-page.main-page--padding
  section.main-page__notes.notes
    h1.notes__title Мои записи
    ul.notes__list
      each post in posts
        li.notes__list-item
          time.notes__item-time(datetime=`${post.createdDate}`) #{formatPostDate(post.createdDate)}
          a.notes__item-text(href=`articles/edit/${post.id}`) #{post.title}
          form(action=(`/articles/${post.id}`) method='POST' enctype='application/x-www-form-urlencoded')
            input(type="hidden" name="_csrf" value=csrfToken)
            button.notes__button.button.button--close-item(type='submit')
              span.visually-hidden Закрыть строку списка
