extends ../layout.pug

block content
  main.articles-category
    h1 #{category.name}
    section.articles-category__theme-list
      h2.visually-hidden Список тем

      ul.themes
        each category in categories
          if category.count > 0
            li.themes__item
              a(class=category.id==id ? 'themes__item-link themes__item-link--active' : 'themes__item-link' href=`/articles/category/${category.id}`) #{category.name} !{' '}
                sup #{category.count}

    section.main-page__list.preview
      h2.visually-hidden Список превью статей
      ul.preview__list
        each post in postsByPage
          li.preview__item
            ul.preview__breadcrumbs
              each category in post.categories
                li.preview__breadcrumbs-item
                  a.preview__breadcrumbs-link(href=`/articles/category/${category.id}`) #{category.name}
            if (post.picture)
              .preview__background
                img.preview__background-image(src=`/img/${post.picture}` width='460' height='240' alt='Фотография небоскреба')
            time.preview__time(datetime=`${post.createdDate}`) #{formatPostDate(post.createdDate)}
            h3.preview__name
              a.preview__name-link(href=`/articles/${post.id}`) #{post.title}
            p.preview__text #{post.announce}
            a.preview__comment(href='/my/comments')
              | Комментарии
              span.preview__cloud
              b.preview__comment-count !{' '}
    +pagination(page, totalPages, 2, `${id}?`)
