extends ../layout.pug

block content
  main
    section.post
      h1.visually-hidden Пост
      section.post__content
        h2.visually-hidden Основное содержание
        .post__wrapper
          .post__head
            a.post__backwards.button.button--backwards(href=(previousPage ? previousPage : '/')) Назад
            time.post__date(datetime=`${post.createdDate}`) #{formatPostDate(post.createdDate)}
            h2.post__title.title.title--main #{post.title}
            ul.post__themes.themes
              each postCategory in post.categories
                li.themes__item
                  a.themes__item-link(href=`category/${postCategory.id}`) #{postCategory.name} !{' '}
                    each category in categories
                      - if (category.name === postCategory.name)
                        sup #{category.count}
                  button.themes__remove-btn(type='button') Удалить категорию
          if (post.picture)
            .post__picture
              img(src=`/img/${post.picture}` alt='пейзаж море, скалы, пляж')
          .post__text
            h3 #{post.title}
            p #{post.announce}
            p #{post.fullText}
      .post__wrapper.post__wrapper--comments
        section.post__comments.comments
          if post.comments.length
            h2.comments__title.title.title--middle Комментарии
            each comment in sortCommentsByDate
              ul.comments__list
                li.comments__comment
                  .comments__avatar.avatar
                    if comment.users.avatar
                      img(src=`/img/${comment.users.avatar}` alt='аватар пользователя')
                  .comments__text
                    .comments__head
                      p #{comment.users.firstName} #{comment.users.lastName} •
                      time.comments__date(datetime=`${comment.createdAt}`) #{formatCommentDate(comment.createdAt)}
                    p.comments__message #{comment.text}
          if !post.comments.length
            h2.comments__title.title.title--middle Комментарии отсутствуют

          if user
            .comments__footer.comments__footer--user
              form(action=`/articles/${id}/comments` enctype='application/x-www-form-urlencoded' method='POST')
                input(type="hidden" name="_csrf" value=csrfToken)
                .comments__avatar.avatar
                  if user.avatar
                    img(src=`/img/${user.avatar}` alt='аватар пользователя')
                label
                  textarea(rows='1' name='message' placeholder='Присоединиться к обсуждению')
                button.comments__button.button.button--colored(type='submit') Опубликовать
                if errorMessages
                  +errorCommentMessage(errorMessages)
          if !user
            .comments__footer.comments__footer--visitor
              a(href='/login')
                button.comments__button.button.button--colored(type='button') Войти
              .comments__registration
                p.text.text--signature
                  b.title.title--small
                    a(href='/register') Регистрация
                  | Чтобы присоединиться к
                  |                   переписке
                  |                   нужно зарегистрироваться
